@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
    </div>

    <br />

    <div class="text-center">
        <h3>Elija una opcion</h3>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" type="button" asp-area="" asp-controller="Product" asp-action="Index">Productos</a>
        <br />
        <a class="btn btn-lg btn-info" type="button" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Pedido</a>
        <br />
        <a class="btn btn-lg btn-outline-info" type="button" asp-area="" asp-controller="Order" asp-action="Index">Ordenes</a>
    </div>



</div>


